[2021-04-25 19:03] jurosens opened #1 "Basic wallet app frame"
## Feature description
- initial project setup
- reuse libraries where applicable

[2021-04-25 19:04] jurosens opened #2 "Scan QR code in wallet app"
## Feature description
- Scan QR code
- Decode information

[2021-04-25 19:04] jurosens opened #3 "Claim certificate"
## Feature description
- Enter TAN
- Create local key pair
- Send DGCI + signature, TAN and public key (of newly generated key pair) to backend
- Claim certificate to wallet

[2021-05-05 16:12] SchulzeStTSI opened #7 "Implement dynamic certificate pinning with /context for Android (Endpoint)"
Implement the usage of the dynamic context content. The claimDomains should be used for claiming.

[
{
   "co":"DE",
   "claimDomain":"http://ibm.blabala.de"
   "pubKey":"MIIj234ksedfioweikseipo234jk234jksdfklsdfjksdfjklsdfsdjfsdfj"
},
{
   "co":"ES",
   "claimDomain":"http://ibm.blabala.de"
   "pubKey":"MIIj234ksedfioweikseipo234jk234jksdfklsdfjksdfjklsdfsdjfsdfj"
}
]

[2021-05-05 16:13] SchulzeStTSI opened #8 "Add Certificate Pinning for Android Wallet App (Home Backend)"

[2021-05-07 09:06] oleksandrsarapulovgl commented on #1
Closed with PRs:
https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/9
https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/10

[2021-05-07 09:06] #1 closed

[2021-05-07 09:08] oleksandrsarapulovgl commented on #2
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/10

[2021-05-12 06:31] #2 closed

[2021-05-12 06:41] #3 closed

[2021-05-16 15:37] SchulzeStTSI opened #22 "Certificate Claiming Problem"
There wer problems reported, that the claiming of a certificate has some errors:

a) If somebody tries to import a certificate and the TAN is not inserted (or canceled), the certificate is imported in the app
b) The new generated TAN is not visible after a valid import
c) Deletion of a certificate ?

Can you please evaluate this reports to crosscheck if there is any bug or a missing functionality:

[2021-05-17 06:38] oleksandrsarapulovgl commented on #22
Hi Stefan) This has already been fixed, just so far did no release after merge

Closed with PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/20/files

[2021-05-17 06:38] #22 closed

[2021-05-17 06:46] oleksandrsarapulovgl opened #24 "Implement client side certificate pinning."

[2021-05-17 06:47] oleksandrsarapulovgl opened #25 "Certificate Deletion Functionality"
Implement certificate deletion functionality

[2021-05-17 06:47] oleksandrsarapulovgl commented on #22
Deletion of a certificate - hasn't been implemented. So created a separate ticket for that: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/issues/25

[2021-05-17 10:38] #25 closed

[2021-05-18 11:27] oleksandrsarapulovgl commented on #24
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/27

[2021-05-18 11:27] #24 closed

[2021-05-19 16:15] RalicaY opened #28 "Field "Test Result" in Certificate of type TEST conatins a 9-digit number"
## Describe the bug

Field "Test Result" in Certificate of type TEST conatins a seemingly random 9-digit number.

## Expected behaviour
The field "Test Result" in Certificate of type TEST should contain the value "DETECTED/UNDETECTED".

## Steps to reproduce the issue
1. Scan a certificate of type TEST

## Technical details
Galaxy XCover 4, Modellnummer: SM-G390F

## Possible Fix

## Additional co

[2021-05-20 06:11] #28 closed

[2021-05-20 11:57] rebwalz opened #30 "all TANs not found after changing IssuerWebApp URL"
## Describe the bug

After changing the IssuerWebApp to another URL, no TANs are found to claim the qr-code
## Expected behaviour

valid TAN should claim the qr-code
## Steps to reproduce the issue

1. open WalletApp
2. unlock via faceID
3. push the button "Scan code"
4. qr-code will be scaned
5. TAN is requested
6. insert valid TAN
7. see error message: not found

## Technical details

- Host Mac

[2021-05-20 15:08] oleksandrsarapulovgl commented on #30
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/31

[2021-05-21 06:17] oleksandrsarapulovgl opened #32 "Implement dynamic host fetching from config json."

[2021-05-21 09:05] rebwalz opened #33 "Deep-Link functionality"
## Your Question
in User Story 2: Import Green Certificate in the Wallet App, is a second optionally way to import the cerificate by a deep link which was sended by SMS or email.

wallet app. The deep link can look like:
dgc://example.authority.com?token=ey… & [publickey]
In this case the token is received with the link, and the public key must be replaced by the key
of the new generated key pair

[2021-05-25 07:08] #8 closed

[2021-05-25 12:43] oleksandrsarapulovgl commented on #32
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/31

[2021-05-25 12:43] #32 closed

[2021-05-26 12:04] #30 closed

[2021-05-26 13:15] ltranvan commented on #28
tvt, 26.05.2021: Retest with the new Wallet App, Version 1.0.1 successfullly carried out.
The field "Test Result" in Certificate of type TEST contains now the value "DETECTED" or "UNDETECTED", but no 9 digital number.
Ticket will be closed.

[2021-05-26 18:12] IzzySoft opened #35 "Please remember increasing versionCode"
## Describe the bug

Yesterday you've released v1.0.1 – `versionCode` of the APK is still set to `1` like with v1.0.0, so Android won't recognize it as an update.

## Expected behaviour

`versionCode` was increased since the last release – no matter how much as long as it's "bigger".

## Steps to reproduce the issue

    $ aapt d badging app-release-signed.apk | grep versionCode
    package: name=

[2021-05-28 06:16] oleksandrsarapulovgl opened #36 "Add licensing"
Added information of used open source libraries

[2021-05-28 08:36] oleksandrsarapulovgl commented on #36
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/37

[2021-05-28 08:36] #36 closed

[2021-05-28 15:35] oleksandrsarapulovgl commented on #35
Sure, I'll be doing this, thank you!

PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/38

[2021-05-28 16:13] IzzySoft commented on #35
Thanks! Just in case, please also remember for future releases (for the verification app as well) :wink:

[2021-05-28 16:19] oleksandrsarapulovgl commented on #35
Will do my best)

[2021-05-29 18:13] fneur opened #39 "Encrypted storage of DGCs not in line with spec"
## Describe the bug

According to the [specification](https://ec.europa.eu/health/sites/default/files/ehealth/docs/digital-green-certificates_v4_en.pdf) (p. 25)

However, the actual cipher used is RSA_ECB_PKCS1_PADDING, hence asymmetric. The relevant call chain is as follows:

`[WalletRepositoryImpl.kt] claimCertificate(...)`
 ---> `[WalletRepositoryImpl.kt] keyStoreCryptor.encrypt(qrCode)`
 --->

[2021-05-30 06:22] fneur opened #40 "DefaultKeyStoreCryptor - key pair not saved in keystore"
## Your Question

* Source File: [DefaultKeyStoreCryptor.kt](https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/blob/main/app/src/main/java/dgca/wallet/app/android/security/DefaultKeyStoreCryptor.kt)
* Line(s): 62-97 `fun getSecurityKeyWrapper`
* Question:
In `fun getSecurityKeyWrapper` the `keyStore` is first queried for a certain key pair. If it is found, it is wrapped in a

[2021-05-31 06:21] #35 closed

[2021-05-31 06:43] oleksandrsarapulovgl commented on #40
@fneur new key pair is saved. It's saved by Keystore itself, when we generate a new key. Here: keyGenerator.generateKey(). For generation - we pass KEY_ALIAS, for further bounding.

I also retested changed once again, and see - that first time key is generated, but with next access - old generated one is being used. Attaching debug screenshots:

![Screenshot from 2021-05-31 09-39-53](https://user-

[2021-05-31 06:44] oleksandrsarapulovgl commented on #40
May I close it @fneur ?

[2021-05-31 07:40] fneur commented on #40
Yes, please go ahead. And thanks for the clarification @oleksandrsarapulovgl !

[2021-05-31 07:41] #40 closed

[2021-05-31 07:42] oleksandrsarapulovgl commented on #39
@SchulzeStTSI Steffen could you please comment if we need to make any changes here?

[2021-06-02 09:20] rebwalz opened #43 "Missing UTC-Hint in "Date of TestResult" and "Date of Date of Collection""
## Describe the bug
In the WalletApp it is not clear which timezone  is shown

## Expected behaviour
In the Test-QR-code should be clearly shown that it is the UTC-timezone as it is in the ios-version.

## Steps to reproduce the issue
1. create Testcertificate with location time-zone (for example 8:00 AM german time) as seen on screenshot:
![image](https://user-images.githubusercontent.com/8156502

[2021-06-02 09:27] rebwalz opened #44 "Wrong Label in Country of Vaccination"
## Describe the bug
In the WalletApp it is shown the Label "Country of Vaccination"

## Expected behaviour
In the Test-QR-code should be written"Country of Test".

## Steps to reproduce the issue
1. Open WalletApp
2. Scan a test-certificate
3. insert valid tan
4. see test-certificate
![image](https://user-images.githubusercontent.com/81565021/120455811-5f384a00-c395-11eb-8aed-52c368b03125.png)
5.

[2021-06-02 12:44] fneur commented on #39
@oleksandrsarapulovgl May I ask another question meanwhile (until Steffen finds the time to answer yours):
Why not use RSA with Optimal Asymmetric Encryption Padding (OAEP)? Is there a specific reason?
(For new applications, one would expect OAEP rather than the old PKCS1 padding)

[2021-06-02 13:31] oleksandrsarapulovgl commented on #39
@fneur sure. There is not any specific reason, we can update that

[2021-06-02 15:28] fneur commented on #39
@oleksandrsarapulovgl Thanks for your quick reply! But now let's wait and see what Steffen's decision will be. Cheers, F.

[2021-06-04 12:16] maluueu commented on #43
@rebwalz How did you create the certificate ?

[2021-06-04 14:38] oleksandrsarapulovgl commented on #43
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/47

[2021-06-07 10:53] oleksandrsarapulovgl commented on #44
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/49

[2021-06-08 15:07] rugk opened #50 "F-Droid release and reproducible builds"
## Current Implementation

App is likely only planned to be released in Google Play Store.

## Suggested Enhancement

It would be great to see this Android app on F-Droid!

[F-Droid](https://f-droid.org/) is an Android app store specifically for free/libre open-source apps. It would be great if your app could be released there, as it is the number one for getting FLOSS Android apps for many people

[2021-06-10 22:34] Wv5twkFEKh54vo4tta9yu7dHa3 commented on #50
The Swiss app will most likely be published on F-Droid, with reproducible builds (see https://github.com/admin-ch/CovidCertificate-App-Android/issues/40)

I started looking into getting this one there as well but I'm a bit too tired to do things properly I think, will try again tomorrow probably :)

Let me put the link of the MR where I'll be working on it here:
https://gitlab.com/fdroid/fdroiddat

[2021-06-10 22:46] Wv5twkFEKh54vo4tta9yu7dHa3 commented on #50
It seems this app has a proprietary dependency on com.google.android.gms/play-services-oss-licenses-license

This should be removed before inclusion into F-Droid I would say.

[2021-06-10 22:52] Wv5twkFEKh54vo4tta9yu7dHa3 commented on #50
See https://github.com/mozilla-mobile/fenix/pull/13767/files for some inspiration :wink:

[2021-06-11 06:58] psavva opened #53 "Fonts for Delete is White with White Background - Not visible"
Scan a QR Code
Enter TAN

Click the Arrow to get into the QR Code
Click on the 3 dots to access the Menu for
Details and Delete options are White Font on White Background.

Please can this be fixed

Best Regards
Panayiotis Savva

[2021-06-11 07:03] psavva opened #54 "Automatically Remove Expired Certificates"
- The request is to have expired certificates automatically purged from the Wallet.

- Display the Expiry Date on the main screen that shows all loaded certificates as to ensure the holder is aware of when the specific certificate expires.

- It also has the benefit of not holding this information (even for spouse or dependents, parents, etc.) once they expire, and thus no longer useful.  This is

[2021-06-11 07:04] psavva commented on #54
Same is Requested for iOS: https://github.com/eu-digital-green-certificates/dgca-wallet-app-ios/issues/76

[2021-06-11 09:21] daniel-eder commented on #50
@joerg-oppermann-tsi can you clarify if reproducible builds are in scope for this app, as it's only a template?

[2021-06-12 10:27] majirosstefan opened #56 "Anonymized QR codes that works with wallet (and verifier)"
Hi all, big thanks to all for making this project open-source.

Slovakia e.g. declares to have functionality that allows wallet app to share/display QR codes with 'anonymized' data (my guess is that the QR e.g. does not contain a person's name or date of birth).

I am interested only in the technical point of view of this question - so do you know about ways how this could be accomplished, please?

[2021-06-14 09:42] kerstin-oppermann-tsi opened #57 "White screen is displayed when certificate options menu is opened"
**Environment**
Android Samsung s20+
wallet app-tst-release-signed-1.0.4.apk

**Steps to reproduce:**

1. Create vaccination certificate per issuance web app
2. Claim certificate by wallet app
3. Click on claimed certificate and open it
4. Click on the 3 points for options screen

**Expected result:**
options menu is displayed

**Actual result**
white screen is displayed

![image](https://user-ima

[2021-06-15 06:10] fneur commented on #39
Steffen must be very busy. So I close this issue now.

[2021-06-15 06:10] #39 closed

[2021-06-16 15:22] kerstin-oppermann-tsi opened #60 "When not set family or given name in issuance web, app shows NULL for the appropriate value"
**Environment**
Issuance Web Portal https://issuance-dgca-test.cfapps.eu10.hana.ondemand.com/
Android Phone
Wallet App 1.0.5.-tst

**Steps to reproduce the issue**

1. Click on Record Vaccination Certification
2. Fill out all mandatory fields
3. Dont fill out family or given name
4. Scan certificate by Wallet App

![image](https://user-images.githubusercontent.com/81565834/122246950-449ebe80-cec7-

[2021-06-16 15:24] kerstin-oppermann-tsi commented on #57
The bug occurs further in Release 1.0.5

[2021-06-16 15:44] kerstin-oppermann-tsi opened #61 "Remove field "Date of Test Result" from all App Screens"
The field **Date of test result** is not used anymore since schema 1.3.0 and should be removed from all app screens because it is always empty.

![image](https://user-images.githubusercontent.com/81565834/122250843-4fa71e00-ceca-11eb-8c24-08d02f737097.png)

[2021-06-17 09:08] #44 closed

[2021-06-17 09:12] kerstin-oppermann-tsi commented on #43
Fixed in Release 1.0.5

[2021-06-17 09:12] #43 closed

[2021-06-17 09:35] kerstin-oppermann-tsi commented on #53
Same issue as https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/issues/57

[2021-06-17 09:53] oleksandrsarapulovgl commented on #61
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/62

![Screenshot_1623923229](https://user-images.githubusercontent.com/82441124/122374328-f4793800-cf6a-11eb-9849-267fd94c0529.png)
![Screenshot_1623923438](https://user-images.githubusercontent.com/82441124/122374331-f511ce80-cf6a-11eb-9772-0debc12ab6ff.png)
![Screenshot_1623923466](https://user-images.githubusercon

[2021-06-17 09:53] oleksandrsarapulovgl commented on #60
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/62

![Screenshot_1623923229](https://user-images.githubusercontent.com/82441124/122374328-f4793800-cf6a-11eb-9849-267fd94c0529.png)
![Screenshot_1623923438](https://user-images.githubusercontent.com/82441124/122374331-f511ce80-cf6a-11eb-9772-0debc12ab6ff.png)
![Screenshot_1623923466](https://user-images.githubusercon

[2021-06-17 11:59] #60 closed

[2021-06-17 11:59] #61 closed

[2021-06-24 06:45] oleksandrsarapulovgl commented on #57
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/64

[2021-06-24 06:46] oleksandrsarapulovgl commented on #53
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/64

[2021-06-24 18:25] maluueu opened #66 "How to get the TAN ?"
## Your Question

* Source File: .
* Line(s): .
* Question: I want to import my German certificate into the Wallet App but I'm asked to input a TAN. Where can I get it from?

[2021-06-25 06:49] Ca5dob opened #67 "Auto update QR code"
## Auto update QR code

* Source File:
* Line(s):
* Question:for French tousanticovid Android app, English language, Wallet,  should existing QR codes for vaccination be updated automatically to the eu digital QR codes? This is not happening for my group.
*

[2021-06-25 07:26] daniel-eder commented on #66
@maluueu Germany has not implemented this functionality. Please use [CovPass](https://digitaler-impfnachweis-app.de/), it can scan certificate QR codes to import them.

[2021-06-25 07:28] maluueu commented on #66
@daniel-eder thank you for quick answer. I was just curious if one could also import the German certificate into this app.

BTW: Why are German DGCs shown as invalid in the Verifier App?

[2021-06-25 07:45] daniel-eder commented on #66
@maluueu There may be a range of possible issues, but I suspect the issue could be missing public keys. There's already a few related issues open - the member states are working together with us to ensure these issues are sorted out, so it should only be a matter of days.

If issues persist, feel free to open an issue so this can be looked into more closely!

[2021-06-25 16:06] #66 closed

[2021-06-29 13:43] kerstin-oppermann-tsi commented on #57
retestet in release 1.0.7

[2021-06-29 13:43] #57 closed

[2021-07-03 20:23] m2049r opened #69 "No value passed for parameter 'x509'"
Build fails with

`e: /src/dgca-wallet-app-android/app/src/main/java/dgca/wallet/app/android/di/DecoderModule.kt: (90, 75): No value passed for parameter 'x509'`

[2021-07-05 21:18] hsanjuan opened #70 "Cannot find DGCI: URN:UVCI:01DE/...."
## Describe the bug

Thank you for making an open source application that is avilable on F-Droid.

I am using version 1.0.7-tst.

When attempting to add my EU Digital Covid certificate issued in Germany I can scan the code and the application correctly reads the details. However, I get the above error when hitting "save".

## Expected behaviour

It should be able to add the certificate just fine.

[2021-07-05 21:21] hsanjuan commented on #70
I forgot to say, the application requests a TAN. However, no TAN has been provided in any documents to me, so I just wrote something random.

[2021-07-06 06:02] daniel-eder commented on #70
Germany has not implemented the tan functionality into their toolchain, please refer to https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/issues/66

[2021-07-06 06:02] #70 closed

[2021-07-06 08:29] hsanjuan commented on #70
Is the fact that no TAN is needed related to the DGCI being invalid? The certificate seems to be perfectly readable. Per #66 you seem to imply that:

Has this been verified? Is there an issue to track missing public keys?

[2021-07-06 08:52] daniel-eder commented on #70
There are no missing keys at this point, so the certificate should be detected as valid with all official apps for each member state.

When building the verifier app from source or using a non-official build it is possible the app is not accessing the productive trustlist/public keys, as access to the trustlist is granted by the member states ( see https://github.com/eu-digital-green-certificates/

[2021-07-07 09:24] hsanjuan commented on #70
Yes, it works with the German app. But what about this wallet app (not the verifier app)? I have tested the app-acc-release-signed-1.0.7.apk and the app-tst-release-signed-1.0.7.apk provided in the releases page and get the `Cannot find DGCI: URN:UVCI:01DE/...` when adding, even though it can read the certificate details.

What does that error mean? Is it trying to verify certificates even if it's

[2021-07-07 10:17] daniel-eder commented on #70
The apps found here are only template apps to be used by the member states, not ready-to-use applications.

The apk releases are set up to work with the test (app-test) and acceptance (app-acc) environments in order to give member state developers a reference solution, but do not work with the productive environment, as wallet apps are in the sovereignty of the member states, not of the European U

[2021-07-07 11:17] hsanjuan commented on #70
Thank you, I understand. An update to the README outlining this information would help, since the apks are circulated on a popular F-Droid repository and there is not much information on the app needing additional configuration or how to do that.

I would have obviously not asked about a working version of this app, had I known this implied invading the sovereignty of members states. My sincere ap

[2021-07-07 12:38] daniel-eder commented on #70
That's a fair point, I added a brief statement to the readme's for the app repos (pending merge).

In all fairness I do need to point out that while the releases on here cannot be used due to not being connected to a production backend, the apps are functionally ready to use, and member states either use these apps with only minor modification (translation and branding) or copied/included the core

[2021-07-07 16:56] daniel-eder commented on #67
The French app is not part of this GitHub organization, however the code base here does not support any conversion / update of pre-existing qr codes, so I consider it unlikely the French app has this feature.

[2021-07-07 16:56] #67 closed

[2021-07-13 13:37] SodaFormulas opened #73 "TAN Code"
Hi,

I just scanned my certificate and the app is asking a TAN Code. I have no idea what it is or what does TAN stand for. It's been supposedly sent to me via e-mail or else, but how (I mean, who has my contact info) and by who is this code supposed to be sent?

I scanned the QR Code (the EU one, not the French 2D-DOC) provided on paper in France by our health insurance system.

Thanks for any inf

[2021-07-14 10:36] skounis opened #75 "The details of a scanned QR code are revealed even if a wrong TAN code is provided"
## Describe the bug

The 1.0.8-RC-1 build for acc was used for scanning QR codes from the `dcc-quality-assurance` repository. For example:

* https://github.com/eu-digital-green-certificates/dcc-quality-assurance/tree/main/LV/1.3.0

After the scan a screen requests a TAN code. No matter what it is entered in this field the user gets navigated in the next screen where all the details of the QRCode

[2021-07-14 11:21] RalicaY opened #76 "[Android] - Incomplete or wrong TAN is accepted without an error message with a not correct error message"
## Describe the bug

If a wrong or incomplete TAN is entered when claiming the certifacte, no error message is shown and it seems like the Certificate was claimed.

Then, when I try to save it again a "Bad request" is shown.

The same behaviour was observed when using a TAN twice or trying to save a certificate with a TAN which belongs to a different certificate.

Video is attached.

## Technical

[2021-07-14 11:29] #53 closed

[2021-07-14 11:55] RalicaY opened #78 "[Android] Humanly Unreadable Fields "Disease or agent targeted", "Type of test""
## Describe the bug
The fields "Disease or agent targeted", "Type of test"  should be made humanly readable. Now the values are shown as digits.

## Technical details

Android Wallet App 1.0.8-tst
![Wallet_App_Felde_humanly_unreadable](https://user-images.githubusercontent.com/76050122/125617958-6ff000d7-1ed8-49ce-8698-b824af0bd79f.png)
Galaxy XCover 4, Android 9

## Possible Fix

## Additional co

[2021-07-14 17:06] RalicaY opened #79 "Android - Scanning a Test Certificate - the Wallet App does NOT validate (status is "OPEN") selected valid Value „ Rapid immunoassay “ for “Type of Test” and “Roche (SD BIOSENSOR), SARS-CoV-2 Rapid Antigen Test” for „ RAT Test name and manufacturer""
## Describe the bug

A valid test certificate is created with the selected valid values “**Rapid immunoassay**” for “**Type of Test**” and “**Roche (SD BIOSENSOR), SARS-CoV-2 Rapid Antigen Test**” for “**RAT Test name and manufacturer**”. Certificate is claimed and saved in the Android WalletApp. The test result is **not detected**.
-	This certificate will be then checked on its validity for DE wi

[2021-07-15 06:37] oleksandrsarapulovgl commented on #69
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/72

[2021-07-15 09:02] daniel-eder commented on #73
The app builds found on this github organization are not for production use, the apps here are only reference implementations that can be configured by EU member states to work with their national backends, or copied into their existing COVID apps.
Please use the French national app to be able to use real life certificates.

[2021-07-15 09:02] #73 closed

[2021-07-15 09:12] RalicaY opened #80 "[Android] - Claiming a QR Code Deletes all previously saved Certificates"
## Describe the bug
Upon claiming the following QR Code, all previously saved certificates got deleted.

The logs are attached.  The event happaned around 10:29 o'clock, 15.07.22.

Initial state:  one or more certificates are already claimed and successfully saved on device
Step 1: Scan attached Code
Step 2: Type in Tan
Step 3: Press save  -- > the screen "No certificate available is shown" (attac

[2021-07-15 09:38] kerstin-oppermann-tsi commented on #80
@RalicaY please provide the logs for the developers.

For my side all works fine, I claimed 4 certificates with the 1.1.0 -tst app.

[2021-07-15 09:40] RalicaY commented on #80
@kerstin-oppermann-tsi , yes the problem seems to be sporadic, so this is why I have attached the logs. Alsp, I could observe it three times so far with seemingly normal codes while @ltranvan can generate specific codes which consistently lead to the bug manifestation.

[2021-07-15 09:44] kerstin-oppermann-tsi commented on #80
@RalicaY my fault, I didnt see the logs. But now I looked at it and yes there is an error inside, maybe that can help the developers to find the matter with this fact.

[2021-07-15 10:10] kerstin-oppermann-tsi commented on #80
@oleksandrsarapulovgl every time I claim a REC certificate that is only valid till the actual day (in that case till today 15th of july) all other certificates will be delete in the app. In the further steps no caliming of certificates is possible. I have to deinstall and reinstall the app.

[2021-07-15 12:21] kerstin-oppermann-tsi opened #88 "Android - TAN input should be after displaying the values of the certificate"
**## Describe the bug**

When I scan a QR Code at next step should be displayed the details informations of the certificate.
Steps should be like in iOS wallet app. the behaviour on iOS is according to spec, on Android it is not.

In iOS steps are like this:
1. scan QR Code
2. display cert details and SAVE button
3. tap on SAVE
4. input TAN

[2021-07-15 13:09] oleksandrsarapulovgl commented on #80
@kerstin-oppermann-tsi @RalicaY thank you for your work here! Just a follow up on the issue. I found the root cause - certificates are not deleted, but not displayed, because during preparing data for displaying application catches exception: "java.lang.IllegalArgumentException: Expiration is before current time: 2021-07-15T00:00:00Z".

@kerstin-oppermann-tsi  could you please clarify: do we just

[2021-07-15 14:01] ltranvan commented on #80
I think that
a.)- the certificates should be displayed, specially for those which are already claimed
and b.)- in the spec it is not forbidden to claim an expired certificate for a private person in his personal Wallet App.

[2021-07-15 14:07] kerstin-oppermann-tsi commented on #80
@oleksandrsarapulovgl yes, I think what @ltranvan wrote is correct, so we will display expired certificates too. Its my own wallet app and within I can check if my claimed certificate is valid (for countries) or not.

[2021-07-15 17:01] RalicaY opened #81 "[Android] -- Country cannot be selected"
## Describe the bug

There is no option to select the country when scanning a certificate.  Once claimed, the validity can be checked only for Belgium as it is fixed as the destination country.

## Technical details
Wallet App 1.1.0-tst
Galaxy XCover 4, Android 9

## Possible Fix

## Additional context

[2021-07-15 17:41] kerstin-oppermann-tsi commented on #81
@RalicaY can you share a video for this issue?

In my app I can select the country for validation.
![image](https://user-images.githubusercontent.com/81565834/125832880-21b7d6a3-ccfd-4565-bcfc-76dbe26a6ef9.png)

[2021-07-15 17:44] RalicaY commented on #81
https://user-images.githubusercontent.com/76050122/125833213-2a0702d2-13e6-47a3-a4c5-822cd7124757.mp4

[2021-07-15 17:49] RalicaY commented on #81
When I tapped on "Belgium" it worked.

[2021-07-15 17:49] #81 closed

[2021-07-16 16:02] kerstin-oppermann-tsi commented on #80
fixed in release 1.1.1.

[2021-07-16 16:02] #80 closed

[2021-07-20 09:05] ltranvan commented on #79
tvt, 20.07.2021: Retest was carried out at 20.07.2021 with Android-Wallet App V1.1.1-test on test environtment. The described bahaviour didn't occurre anymore. Issue will be closed.

[2021-07-20 09:12] #79 closed

[2021-07-20 14:25] oleksandrsarapulovgl commented on #78
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/86

[2021-07-20 14:26] oleksandrsarapulovgl commented on #78
@RalicaY could you please check screenshot in the PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/86. Is this what is expected?

[2021-07-21 09:55] kerstin-oppermann-tsi commented on #88
@oleksandrsarapulovgl I moved this issue from iOS to Android because the iOS behaviour is like spec, so Android should be changed according to this.

[2021-07-22 13:17] RalicaY commented on #78
@oleksandrsarapulovgl, yes those values are correct.

[2021-07-23 12:55] oleksandrsarapulovgl commented on #88
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/90

[2021-07-23 13:11] RalicaY commented on #78
Successfully retested Android Wallet App 1.1.2

[2021-07-23 13:11] #78 closed

[2021-07-26 12:21] #69 closed

[2021-07-27 12:20] RalicaY commented on #88
@oleksandrsarapulovgl , @Hendrik-Schmidt-Schierhorn-TSI Retest on Android Wallet 1.1.2 was NOT successful -- the old state is to be observed (that is, TAN input is needed before Data can be displayed).

[2021-07-28 06:06] oleksandrsarapulovgl commented on #88
@RalicaY looks like that it wasn't merge in current pre-release, sorry. Let's check then in next one please, I'll discuss to prepare one today.

[2021-07-28 08:23] oleksandrsarapulovgl commented on #88
@RalicaY could you please recheck on latest build?

[2021-07-28 11:49] RalicaY commented on #88
Successfully retested in 1.1.4-tst.

[2021-07-28 11:49] #88 closed

[2021-07-28 12:13] RalicaY commented on #76
Successfully retested in 1.1.4.tst.

[2021-07-28 12:13] #76 closed

[2021-08-31 11:38] kerstin-oppermann-tsi opened #104 "Android - Error importing file when trying to upload image from gallery"
Android wallet app 1.1.6.rc1 - tst
Samsung S20plus
Android 11

When trying to upload image from gallery I always get an error "Error importing file"

![image](https://user-images.githubusercontent.com/81565834/131495847-ce9e2665-6f2b-4894-85e0-fb8f10f6b1be.png)
![image](https://user-images.githubusercontent.com/81565834/131495879-e0474463-c700-469c-95b0-1f8304908c2b.png)
![image](https://user-imag

[2021-09-09 06:07] oleksandrsarapulovgl commented on #104
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/105

[2021-09-14 08:44] #104 closed

[2021-09-14 15:23] RalicaY opened #114 "[Android] REC Certificate does not get claimed upon New Install"
## Describe the bug

A REC Certifiacte does not get saved (claimed) in the wallet app after a fresh new installation.

ATTENTION:  The Bug manifests only after a fresh install of the app while no other certificates have been saved and it happens only aproximately 3 out of 5 times -- that is, it seems to be sporadic.  Attached is a Video and the Logs.

LOGs are attached.

https://user-images.github

[2021-09-16 12:41] RalicaY opened #118 "[Android] Import via Camera causes the app to crash if photo is taken first thing upon app install"
## Describe the bug
The app crashes when one tries to import a photo from the camera via
1. Add new;
2. Import image;
3. Take photo.

ATTENTION:  the bug manifests ONLY after a fresh install and BEFORE one has tried to scan a QR Code.

## Expected behaviour
No app crash.

## Technical details
Galaxy XCover 4, Android 9
Wallet App 1.2.0-acc

https://user-images.githubusercontent.com/76050122/133758

[2021-09-21 16:16] RalicaY opened #122 "After NFC Export of Certificate to iOS Wallet, there is no Certificate to be found in the iOS Wallet App"
When we try to export a DCC Certificate from the Android Wallet App via NFC onto the iOS wallet app, no certificate is seen in the destination app (iOS Wallet) although it says "Fertig".  See attached Screenshot.

## Expected behaviour
The chosen certificate is shown in the wallet app in the iOS device.

## Actual behaviour
No certificate is to be seen in the iOS wallet App.

## Steps to reproduce

[2021-09-23 07:37] #118 closed

[2021-09-23 08:23] RalicaY commented on #118
Confirmed.

[2021-09-23 08:40] stefanoschrs opened #126 "Display certificate date instead of scanned date in certificate list"
## Expected Benefits

- Easier to select the certificate you want, in case you have multiple tests
- Not intuitive to remember the day you scanned a certificate but rather the day you did the test/ vaccine

## Current Implementation

![Screenshot_20210923](https://user-images.githubusercontent.com/4215699/134477267-9343c98e-85d6-4732-9991-eb5ca20e3a6b.png)
![Screenshot_20210923](https://user-image

[2021-09-23 14:32] RalicaY commented on #118
Retest was successful, DGCA Wallet 1.2.2-acc (18)

[2021-09-29 06:48] MykhailoNester commented on #122
Fixed In:
Android: Wallet 1.2.3(18) Verifier 1.2.3(27)

[2021-10-01 07:44] daniel-eder commented on #50
In F-Droid a fork of https://f-droid.org/de/packages/de.rki.covpass.app/ is available: https://gitlab.com/covpass-android-foss/covpass-android/

As there are currently no plans by the European Commission known to me to release on alternative app stores I will close this issue - to be reopened if there is a change.

[2021-10-01 07:44] #50 closed

[2021-10-01 12:30] RalicaY commented on #122
Retest was successful, Android Wallet App 1.2.3-acc (19).

[2021-10-07 17:16] RalicaY opened #135 "[Android] For REC Certificates Only the Ones which Are Valid at Least 2 Days After the Day of Travel Are Found During Checkin/Booking"
## Describe the bug
For REC Certificates Only the Ones which Are Valid at Least 2 Days After the Day of Travel Are Found During Checkin/Booking.  But Certificates which expire one or two days after the day of travel are not offered by the wallet app although the names match.

For Example -- travel date is 08. October 2021 and in the wallet app are REC certificates which expire on:
A) 08. October 2

[2021-10-08 06:23] RalicaY commented on #126
PR: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/127

[2021-10-16 10:38] RalicaY commented on #135
@kerstin-oppermann-tsi could you please retest this when the booking demo works again?

[2021-10-18 13:29] oleksandrsarapulovgl commented on #135
@kerstin-oppermann-tsi behavior seems to be correct. The deal is check in QR provides valid from and valid to values. And certificates should be valid during the dates. Check in valid to date - is equal, as I understand, to current day + 2 days.

Here is an example of related JSON:

`{
  "iss": "https://dgca-booking-demo-eu-test.cfapps.eu10.hana.ondemand.com/api/identity",
  "exp": 1634567239,
  "

[2021-10-19 06:51] oleksandrsarapulovgl commented on #135
@SchulzeStTSI could you please comment here?

[2021-10-19 10:51] #135 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-10-19 11:01] kerstin-oppermann-tsi commented on #75
This issue is obsolete because the behaviour of the wallet app isn't the same like in the 1.0.8 release.
The details are displayed before entering the TAN and after entering a wrong TAN the certificate isn't claimed and you got an error message.

[2021-10-19 11:01] #75 closed

[2021-10-21 13:46] kerstin-oppermann-tsi opened #140 "Android - Ticketing - Test certificates are not displayed in selection list for booking validation"
Android Wallet App 1.2.4.-acc (20)
Samsung S20+

For the user Anna Tester (ANN TESTER) I have 3 certificates (VAC, REC, TEST) All certificates include the same name and birthday.
But in the selection list for booking validation the TEST certificate is never displayed.

![image](https://user-images.githubusercontent.com/81565834/138290555-90bd4239-4b19-4048-ab37-502e3686bb53.png)
![image](https://u

[2021-10-22 15:21] #140 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-10-22 18:10] kerstin-oppermann-tsi opened #141 "PRIO 1 - Android - Ticketing - CANCEL button in Grant Permission dialog is not working"
Wallet App 1.2.4-acc (20)
Samsung S20+

**actual result**
Pressing CANCEL button does not work
![image](https://user-images.githubusercontent.com/81565834/138502892-a295757d-d1e2-4337-91f9-0a8996ba2b0a.png)

**expected result**
Pressing CANCEL button should result in going back to last screen (or to main menu)

@Hendrik-Schmidt-Schierhorn-TSI what do you think?

In iOS is the same issue.

[2021-10-22 18:11] kerstin-oppermann-tsi opened #142 "PRIO 1 - Android - Ticketing - Wrong wording - Change "Grand Permission" to "Grant Permission""
Change **Grand** Permission to **Grant** Permission

![image](https://user-images.githubusercontent.com/81565834/138502944-70ae2460-d406-4329-8603-14098e5623bc.png)

[2021-10-26 11:02] #141 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-10-26 11:03] #142 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-10-26 11:07] kerstin-oppermann-tsi opened #144 "PRIO 1 - Android - Ticketing - Wording fix for "Do you agree *to* share the ..." and certificate naming"
![image](https://user-images.githubusercontent.com/81565834/138865723-91c85d8c-511b-4e2c-8cbc-36efced7e370.png)

Add the "**to**" into

"Do you agree *to* share the .... information ..."

[2021-10-27 13:17] kerstin-oppermann-tsi opened #146 "PRIO 1 - Android Ticketing - change the name of the shared certificate to the correct one"
**Actual:**
for all certificates is displayed: "share the **vaccination certificate 2** ..." seems to be hard coded
![image](https://user-images.githubusercontent.com/81565834/139072702-7a1fd7ae-05a1-4ae2-b9c4-7c5977515b0c.png)

**Expected:**
The correct certificate naming should be displayed

vaccination  certificate 1 of 2
vaccination certificate 2 of 2
test certificate (or _test result certific

[2021-10-27 13:25] kerstin-oppermann-tsi opened #147 "PRIO 1 - Android - After scanning the certificate info is not longer displayed before saving certificate to wallet"
In Android wallet 1.2.4 (21) there are no certificate infos displayed after scanning QR Code and before saving it to wallet app.

![image](https://user-images.githubusercontent.com/81565834/139074601-c99fc33b-b633-44b4-b5c8-72b0f1b7932a.png)

![image](https://user-images.githubusercontent.com/81565834/139074364-f3be69f6-400c-4388-bd10-43da7da71add.png)

In the release before wallet 1.2.4 (20) all

[2021-10-28 12:36] #147 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-10-28 12:37] #146 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-10-28 12:38] #144 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-11-02 08:43] RalicaY commented on #114
I could not observe the issue again, so I will close the ticket.

[2021-11-02 08:43] #114 closed

[2021-11-05 13:36] kerstin-oppermann-tsi commented on #126
retested with wallet 1.2.5.-acc (32)

[2021-11-05 13:36] #126 closed

[2021-12-15 15:53] kerstin-oppermann-tsi opened #156 "PRIO - Android Wallet Ticketing - for NOK status the injured rule should be displayed like in iOS App"
When validating a booking code against certificate the injured rule should be displayed when status NOK.

![image](https://user-images.githubusercontent.com/81565834/146218568-0b868dcc-21c7-4a98-8323-561f6c690ec9.png)

**Actual behaviour:**
Validating this 1/2 vaccination certificate against DEV-TEST validation service (https://4b49927aadc0653d.dcc-validation.eu/) the new fixed behaviour shows the

[2021-12-16 13:32] kerstin-oppermann-tsi commented on #156
retested successfully with 1.2.8.-acc(35)

[2022-01-25 07:51] hardfalcon opened #159 "Use monospaced font for certificate metadata"
Please consider using a monospaced font for the certificate metadata to make it easier to spot typos committed by the institution issuing the certificate, both in the smartphone apps and on the actual PDFs that are printed out and handed to the person obtaining their certificate.

Currently the PDF uses the worst possible choice of font for this use case:
a) a sans-serif font, which makes it diffi

[2022-02-21 14:18] michawol opened #163 "WalletApp crash when manually start the synchronisation"
## Describe the bug
When manually start the synchronisation, the app will crash

## Steps to reproduce the issue
1. go to settings
2. click on "update recovation state"

![image](https://user-images.githubusercontent.com/81565834/154992955-befbd479-ff19-40e9-9bfe-f24187ab1358.png)

## Technical details
- Pixel 3a XL
- Android 12

[2022-02-21 16:16] kerstin-oppermann-tsi commented on #163
After fresh install of the wallet app reloading works fine several times.

But after claiming certificate, no matter if a revoked one or not, the next reloading crashes the app.

[2022-02-21 17:35] RalicaY opened #164 "[Android-Wallet] Revoked Certificates are Evaluated as Valid"
## Describe the bug
Revoked certificates get evaluated as valid.

## Expected behaviour

Revoked certificates get evaluated as invalid.

## Steps to reproduce the issue
1. Claim a revoked certificate;
2. Load the certificate;
3.  Click check validity for chosen country and date, while the certificate is revoked;
4.  App says: "Valid certificate".
## Technical details
Galaxy XCover 4, Android 9,
Wa

[2022-02-22 11:34] kerstin-oppermann-tsi commented on #163
Issue is fixed with wallet 1.2.8.tst (39). Please retest @michawol or @RalicaY

[2022-02-22 15:49] RalicaY commented on #163
The issue persists on my end, also with the latest version 1.2.8.tst (39)  I have attached the logs.
[tan_wallet_crash_log.txt](https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/files/8118070/tan_wallet_crash_log.txt)

[2022-02-22 16:40] oleksandrsarapulovgl commented on #163
There was an issue from BE side, I added fix to handle that. Could you please check 1.2.8.tst (40)?

@RalicaY

[2022-02-22 17:07] RalicaY commented on #163
@oleksandrsarapulovgl
It looks good! I could produce no crash. Test is successful. Thank You very much!

[2022-02-22 17:07] #163 closed

[2022-02-22 18:27] RalicaY commented on #164
The current wallet release 1.2.8-tst (40) does not show the red text "Revoked!" on loading the revoked certificates.

[2022-02-23 12:09] oleksandrsarapulovgl commented on #164
Checked it, and found an issue with signatures calculation. So, I fixed it, and published new builds:

1.2.8-tst (41)

FYI: @RalicaY

[2022-02-23 12:27] kerstin-oppermann-tsi commented on #164
Checked with new version and it works now as aspected.
![image](https://user-images.githubusercontent.com/81565834/155319208-0281d6da-315d-4d50-9258-2ad168ef9aa0.png)
![image](https://user-images.githubusercontent.com/81565834/155319258-fdef5a76-2f3a-435a-b943-969291164d0e.png)
@RalicaY maybe you can check issue by yourself to close the ticket.

[2022-02-23 13:33] michawol opened #165 "[Android-Wallet] Cannot import pdf file"
## Describe the bug
When i want to import a before exported DCC file i got an error
the file connot be imported

## Expected behaviour
an exported DCC pdf file usually show like a regulary pdf file

## Steps to reproduce the issue
1. got to scan / import
2. select "Import pdf"
3. use one of the attached pdf file

## Technical details
- WalletApp Version 1.2.8-tst (41)
- Xiaomi Mi Note 10 Lite
[164

[2022-02-23 13:47] michawol commented on #165
1.

[2022-02-24 07:59] RalicaY opened #166 "[Android-Wallet-App] Share PDF to Printer Produces Error or Crash"
## Describe the bug
Trying out to print a DCC Certificate  via Button "Share PDF" leads to an error "Ladefehler. Dateien in nicht unterstützten Formaten wurden nicht importiert.".  Sporadically this causes the app to crash as well. Video is attached.

## Technical details
Galaxy XCover 4, Android 9
Wallet App for Android 1.2.8-tst (41)

https://user-images.githubusercontent.com/76050122/155482430-

[2022-02-24 08:08] michawol commented on #165
tested again. The error described was caused by an operator error when selecting the file to be imported.

[2022-02-24 08:08] #165 closed

[2022-02-24 08:49] RalicaY commented on #166
The same error is produced after trying to print an imported NON-DCC PDF (see attached exmple PDF-file).  The wallet app imports it successfully but the PDF-Share (pdf-export) to printer produces the same erorr: "LADEFEHLER. Dateine in nicht unterstützen Format ..."
[1645644729156.pdf](https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/files/8131001/1645644729156.pdf)

[2022-02-24 10:29] michawol opened #167 "[Android wallet app] - transfer a DCC via NFC is not received by the walletapp"
## Describe the bug
if a DCC is sent from smartphine device A to smartphone device B via NFC, it does not arrive directly in the wallet app on device B. The sent file ends up in the file system of Device B and must first be imported.

## Expected behaviour
a DCC sent via NFC should be received directly in the WalletApp

## Steps to reproduce the issue

1. select at device A a DCC and press "share

[2022-02-24 13:20] michawol opened #168 "[Android wallet app] - update manually of the revocation state is not possible"
## Describe the bug
if you click the update button for the revocation state, no update is performed, at least the date and time are not updated

## Expected behaviour
the date and time is updating, after you click the update button

## Steps to reproduce the issue

1. open walletApp
2. go to settings
3. click the update button in the row "update revocation state"

## Technical details
WalletApp 1.

[2022-02-24 13:36] michawol commented on #168
[Uploading myloggi.txt…]()

[2022-02-24 13:40] RalicaY commented on #164
@kerstin-oppermann-tsi @oleksandrsarapulovgl  @ltranvan
With the current wallet app for android  1.2.8-tst (41) I am not able to see this above certificate as revoked.  As a matter of fact, I cannot see the text "revoked" any more in any certificate whatsoever. See attached video.

https://user-images.githubusercontent.com/76050122/155534857-dffb4ba5-c44f-4c8f-9b18-86231ed64fd3.mp4

[2022-02-24 13:53] kerstin-oppermann-tsi commented on #164
@RalicaY I claimed the Pavel Chekov certificate twice and both are displayed as revoked in my wallet 1.2.8.-tst(41)
![image](https://user-images.githubusercontent.com/81565834/155536939-a0af0f99-ab70-4e19-846e-3daf2ee325a8.png)
![image](https://user-images.githubusercontent.com/81565834/155537004-6e7bfe61-40df-4541-97b2-7165f100837b.png)

[2022-02-24 13:58] kerstin-oppermann-tsi commented on #164
And also another revocation certificate works fine for me.
![image](https://user-images.githubusercontent.com/81565834/155537575-9f4bfbb2-fa82-4941-95b2-eacb2fc0386b.png)
@RalicaY could you reinstall the wallet app?
@Hendrik-Schmidt-Schierhorn-TSI  can you please recheck.

[2022-02-24 14:11] RalicaY commented on #164
@kerstin-oppermann-tsi It is a reinstall already, the problem persists still.

[2022-02-24 14:22] michawol commented on #164
![Screenshot from 2022-02-24 15-17-54](https://user-images.githubusercontent.com/97519435/155541944-48f10cfa-0f7c-42f1-aa45-552ecf564b53.png)

[2022-02-24 14:26] michawol commented on #164
new TAN now: RW69L2XK

[2022-02-24 15:49] michawol commented on #168
workaround:
uninstall the app and reinstall it.

[2022-02-24 16:40] RalicaY opened #169 "[Android-Wallet-App] Revocation Entry has Expired but Wallet App still Evaluates DCC-Code as REVOKED"
## Describe the bug

The revocation entry for this DDC
![REC_A2A](https://user-images.githubusercontent.com/76050122/155567436-31630180-a3d1-4994-ba20-1d83ab58ea07.png)
certificate of type REC was defined with **'expires': '2022-02-24T15:00:00Z'**  I checked the code with the wallet app today  (24.02.22) at 17:34 but it is still shown as revoked (see attached photo).

## Expected behaviour

From 1

[2022-02-24 16:41] RalicaY opened #170 "[Android-Wallet-App] Revocation Entry has Expired but Wallet App still Evaluates DCC-Code as REVOKED"
## Describe the bug

The revocation entry for this DDC
![REC_A2A](https://user-images.githubusercontent.com/76050122/155567436-31630180-a3d1-4994-ba20-1d83ab58ea07.png)
certificate of type REC was defined with **'expires': '2022-02-24T15:00:00Z'**  I checked the code with the wallet app today  (24.02.22) at 17:34 but it is still shown as revoked (see attached photo).

## Expected behaviour

From 1

[2022-02-25 07:44] kerstin-oppermann-tsi commented on #169
@RalicaY can you check again with this certificate. For me it is valid in the verifier app.

[2022-02-25 08:48] kerstin-oppermann-tsi commented on #164
neue TAN: Z7HH8MQP

[2022-02-25 08:51] kerstin-oppermann-tsi commented on #169
In wallet already expired certificates while claiming are shown as valid. But if a cerificate expires while it is stored in the wallet then this is shown as revoked after the expiration date too.

[2022-02-25 09:03] RalicaY commented on #170
Obsolete, as it doubles issue 169.

[2022-02-25 09:03] #170 closed

[2022-03-01 08:05] #164 closed

[2022-03-02 14:15] RalicaY commented on #122
The same bug manifests in the current release for Android Wallet App Version 1.2.8-tst.

[2022-03-03 08:41] kerstin-oppermann-tsi commented on #168
For me this issue happened more time in the last days. On Samsung S20 plus.
Workarround fresh installing the app helps. But for that I had to claim all certicates for new.
Maybe if is time and possibility, someone can have a look on this issue what could be the reason for. @oleksandrsarapulovgl @MykhailoNester ?

[2022-03-10 07:38] kerstin-oppermann-tsi commented on #168
@RalicaY @michawol can you recheck this issue. On my side this happens no more since Oleksandr did a fix in wallet app on related issue.

[2022-03-10 08:08] kerstin-oppermann-tsi commented on #122
@RalicaY @michawol cann you please recheck with wallet 1.3.1(5) tst

[2022-03-10 08:10] kerstin-oppermann-tsi commented on #122
And please check if this issue exists in Android too, because you mentioned this here, but then we need a ticket for Android.

[2022-03-18 11:34] RalicaY commented on #168
For me the issue still exists, WalletApp 1.2.8-tst (41), Galaxy XCover 4, Android 9

[2022-03-18 13:32] kerstin-oppermann-tsi commented on #168
@RalicaY Did you see a message like "Last update failed"? Or only no update of date/time?

[2022-03-18 13:39] RalicaY commented on #168
No, I do not see such a message but only the update of date/time remains without being updated since installation.

[2022-03-18 13:43] kerstin-oppermann-tsi commented on #168
Yes think the "fix" is only in version after 3th of march. I had a look into conversion about it.

[2022-03-22 15:28] PaulBallmann commented on #122
Issue still persistent in 1.3.2 (1)?
Also: Cannot test as I do not own an android device. Does iOS to iOS reproduce the same issue?

[2022-03-22 15:41] RalicaY commented on #122
@PaulBallmann, I do not see Version 1.3.2 (1) available for test in app center.  Where can I find it?

[2022-03-23 09:32] PaulBallmann commented on #122
@RalicaY - I released the version 1.3.2 (1) yesterday evening for the testers. Sorry for the delay.

[2022-03-23 17:32] RalicaY commented on #122
@PaulBallmann, thank you.  I installed it but, unfortunately, there is no improvement what concerns the issue.  Still no DCC gets imported vie NFC.

[2022-03-29 07:19] kerstin-oppermann-tsi commented on #169
I will recheck, had claimed an certifcate that will expire on 30/03/22 9 a.m. So I can recheck at this time.

[2022-03-29 09:50] kerstin-oppermann-tsi commented on #168
@RalicaY can you please recheck

[2022-03-30 06:30] kerstin-oppermann-tsi commented on #122
@PaulBallmann can you say if this issue should be fixed in actual release 1.3.2(2) ? So @RalicaY can test this again?
I dont have NFC devices for iOS to check this issue.

[2022-03-31 13:50] ltranvan commented on #169
Retest with version 1.3.0 TST (39) in E2E-Testteam also positive. Revoked entries are correctly displayed as revoked. When the expiration-time occured for a QR-code, it will automaticallydisplayed as valid again. This is trigered by "Update revocation state" in Setting or by new start of the Wallet App.

[2022-03-31 13:51] #169 closed

[2022-04-01 09:56] kerstin-oppermann-tsi opened #178 "[Android wallet] Fix problem for revokation reload when certificates claimed twice (or more)"
The problem is that when one certificate is claimed more than one time, only the last claimed become to the prior certificate. Means that only for this newest claimed the public keys are can be found in the gateway. So for the older claimed (on other devices or on the same device) the revokation reload function fails with 400 in the API.

Possible solution should be to ask for the information from

[2022-04-11 11:26] RalicaY opened #179 "[Android-Wallet-App]Previously Claimed Certificates are Lost after Update"
## Describe the bug

All previously claimed Certificate swith Android Wallet App 1.2.8-tst (41) got lost when I updated to Android Wallet App 1.3.0-tst (41).

## Expected behaviour
Previously claimed certificate should be still there after app update.

## Technical details
Android Wallet App Version 1.3.0-tst (41)
Galaxy XCover 4, Android 9

[2022-04-11 12:13] RalicaY commented on #166
Issue persists in Version 1.3.0-tst (41), Galaxy XCover 4, Android 9

[2022-04-11 12:50] RalicaY commented on #167
Issue persists in Android Wallet App 1.3.0 (41)

[2022-04-11 13:35] RalicaY commented on #122
Issue persists in Android Wallet App 1.3.0 (41)

[2022-04-11 16:44] RalicaY opened #180 "[Android-Wallet] Claimed Certificate Does Not Get Deleted via the Three Dots Delete"
## Describe the bug
Trying to delete a claimed certificate via the three dots->delete does not result in deleting the certificate (see attached video).

## Technical details

Android Wallet App 1.3.0 (41)
Galaxy XCover 4, Android 9

## Additional context
Yet, deletion via the pop-up menu works (when pressing and holding on the certificate in the list view)

https://user-images.githubusercontent.co

[2022-04-11 17:13] RalicaY commented on #168
I get the same issue with Wallet App Version 1.3.0 (41)

[2022-04-12 09:29] RalicaY opened #181 "[Android-Wallet-App] Revoked Certificates are not Shown as "Revoked""
## Describe the bug

Claimed revoked certificates are not shown as "revoked".  There is no indication of revocation to be seen in the wallet app.
## Expected behaviour
Claimed certifiates that are revoked should be indicated as "revoked".

## Technical details
Wallet App 1.3.0 (41)
Galaxy XCover 4, Android 9

[2022-04-12 13:48] oleksandrsarapulovgl commented on #179
In this specific case it's expected behavior. Considering update is from `non-multi-type` version, to `multi-type`. There were critical structural changes. And related migration would break new (multi-type) approach logic

[2022-04-12 14:01] kerstin-oppermann-tsi commented on #179
@RalicaY see the comment of Oleksandr here. As in the old app versions the data were stored in general app module, and for multi cert apps it's moved to separate, dcc module.

So please can you close this ticket as it is out of scope.

[2022-04-12 14:08] RalicaY commented on #179
Closed due to above comments, i.e. behaviour is expected.

[2022-04-12 14:48] RalicaY commented on #179
@oleksandrsarapulovgl Does this mean that from now on all certificates will be lost when updating to the next version or is this only expected here in this version? That is, what is the expectated behaviour for the versions > 1.2.8-tst (41)

FYI @ltranvan

[2022-04-14 09:10] kerstin-oppermann-tsi commented on #168
Is fixed - @RalicaY @michawol you can retest in wallet 1.3.0(43)

[2022-04-22 13:36] MykhailoNester commented on #180
Fixed in PR:
https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/184

[2022-04-22 14:00] MykhailoNester commented on #180
Build:1.4.0-tst (45)

[2022-04-24 16:52] ltranvan commented on #180
tvt, 24.04.2022: Retest successfully carried out.  After clicking on the "Delete-Item" behind the three-dots menu of the credetial, the associated credential is deleted.

[2022-04-24 16:52] #180 closed

[2022-04-25 09:18] RalicaY opened #185 "[Android Wallet App] Trust Issuer is not added in IssuersList despite Consent"
A Verifiable Credential signed by an issuer who was not on the Gateway was saved in the wallet app after granting consent.  Althoug hthe credential was saved in the wallet app, the issuer itself was apparently not saved in the app's local issuer list because on second scan the app asked for granting consent for the same credential and issuer.

## Expected behaviour
Once we have granted consent for

[2022-04-25 09:19] RalicaY opened #186 "[Android-Wallet-App] Credential is claimend in Wallet, but the content is not diplayed except for raw data"
## Describe the bug

## Expected behaviour

## Steps to reproduce the issue

## Technical details

- Host Machine OS (Windows/Linux/Mac):

## Possible Fix

## Additional context

[2022-04-25 12:02] michawol commented on #168
Tested with WalletApp 1.4.0 (45) - manually update is working

[2022-04-25 12:02] #168 closed

[2022-04-25 12:14] kerstin-oppermann-tsi commented on #181
for me it works in 1.4.0(45). @RalicaY  can you recheck please

[2022-04-26 19:19] ltranvan commented on #181
tvt, 26.04.22: Positive vom Michael W. am 25.04.2022 retestet. Ticket wird geschlossen.

[2022-04-26 19:19] #181 closed

[2022-04-26 22:06] MykhailoNester opened #187 "[Android-Wallet-App] Updating IssuerList is Not Possible"
## Description

There is no possibility to update the issuer list.

## Acceptance criteria

- settings page for VC functionality.
- it should contain one button for trusted issuer list reload.
- label with time of last update.

[2022-04-27 13:29] MykhailoNester commented on #187
Fixed in 1.4.1 (46)(47)

[2022-04-27 13:29] MykhailoNester commented on #185
Fixed in 1.4.1 (46)(47)

[2022-04-28 15:10] oleksandrsarapulovgl commented on #166
PR with fix: https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/189

[2022-05-06 14:08] RalicaY opened #190 "[Android-Wallet-App] Certlogic Rule VR-DX-0004 Margin Case Within One Day after Birthdate Inconsistent with Verifier"
Testdata:
- Testrule: VR-DX-0004
- Date of test : 10.05.2022
- Birthdate of person: 18 years  + 1 Day old (Birth Date = 09.05.2022)
**VAC-Certificate with above Birthdate gets evaluated by Verifier app correctly as "limited"
while  WalletApp brings a different result than Verifier, namely "valid".**

Expected Behaviour: Both apps must bring the same result (this means, that wallet app should also

[2022-05-06 15:45] ltranvan commented on #185
Already retested with TCs 6713, 6653.

[2022-05-06 15:45] #185 closed

[2022-05-06 16:09] MykhailoNester commented on #167
@RalicaY Fixed in: 1.3.2-(50)

[2022-05-09 10:44] ltranvan commented on #166
tvt, 09.05.22: retest succeeded.

[2022-05-09 10:44] #166 closed

[2022-05-09 13:31] MykhailoNester commented on #190
@RalicaY could you clarify this `is NOT evaluated as an increment of one year w.r.t. to the date of check` - for me it's not clear what is about.

Also what is the steps to reproduce this issue:
- set birhtday to 2004-05-12
- set destination country to DX
- set check date to 2022-05- tested days from 9 to 13
Observed same result. `Valid certificates`

![Uploading Screenshot 2022-05-09 at 16.22.04.

[2022-05-09 13:35] MykhailoNester commented on #190
In rule I see this description `For people under 18, the primary vaccination is valid for an unlimited period.` - so I assume `Valid certificate` - is correct state.

[2022-05-09 15:44] ltranvan commented on #167
tvt, 09.05.22: Retest failed.
After clicking the NFC-ON-button in the the source-device (in the DCC) and the menu-item "Scan NFC code" on the Target-device, the user get a sand-clock in the target device with the message "NFC enabled", but nothing then happens (more than 5 minutes!!!).

[2022-05-10 06:35] MykhailoNester commented on #167
@ltranvan could you specify your devices on which you tested?
Also @Hendrik-Schmidt-Schierhorn-TSI could you check this build on your devices maybe it will work for you ?

[2022-05-10 07:09] MykhailoNester commented on #167
@ltranvan did a quick test on my devices Pixel 3XL and Sumsung A52
Verifier: Version 1.3.2-tst-bloom (61)
Wallet: Version 1.3.2-tst (50)

Check this video. Different devices have different nfc chip location. So If I hold this two devices near each other back side to front side of second device it will not work. Only when I hold them back to back.

https://user-images.githubusercontent.com/9447674/

[2022-05-10 07:20] ltranvan commented on #167
@MykhailoNester: the transfer-test per NFC was carried out between Samsung S10 and S21 FE 5G and both with the WalletApp version 1.3.2(50).
Attention: the QR-certificate should be transfered from Wallet to Wallet as described above in ticket and NOT freom Wallet to Verifier :-) !

[2022-05-10 07:27] MykhailoNester commented on #167
:) Yeah my bad I'll check it now, but NFC feature didn't work for all devices wallet/wallet and verifier/wallet and this fix in my PR should fix at least wallet/verifier connection now.
I'll retest wallet/wallet

[2022-05-10 08:17] RalicaY commented on #190
@MykhailoNester Thank You very much for your elaboration on the issue.
I hope the following info can clarify the problem.

The rule is: ""The primary vaccination may have been completed 270 days ago at most. Booster vaccinations are valid for an unlimited period. For people under 18, the primary vaccination is valid for an unlimited period.""  To check the rule we always create a certificate where

[2022-05-10 10:16] kerstin-oppermann-tsi commented on #167
@michawol @RalicaY Please recheck with wallet 1.3.2-tst (51)

[2022-05-10 10:17] MykhailoNester commented on #167
@ltranvan  Fixed in build: Version 1.3.2-tst (51)
Wallet/wallet dcc transfer works on my side now.

https://user-images.githubusercontent.com/9447674/167606636-76fc213c-87e0-4486-86ca-3e291633ce73.mp4

[2022-05-10 11:59] oleksandrsarapulovgl commented on #190
Is it on test or acc environment?

[2022-05-10 12:57] oleksandrsarapulovgl commented on #190
@RalicaY , I tested and it works properly on my side on test environment. Could you please try fresh install?
https://user-images.githubusercontent.com/82441124/167633567-0b1965f5-7786-4251-b2bf-6ac592e40cc9.mp4

[2022-05-10 14:13] RalicaY commented on #190
@oleksandrsarapulovgl Did you use the attached code for the video? Or what day is the Birthdate set to?

[2022-05-10 14:36] oleksandrsarapulovgl commented on #190
Is it a fresh install and latest version?

[2022-05-10 14:39] RalicaY commented on #190
@oleksandrsarapulovgl Actually, in your attached video, the wallet evaluates the code as valid w.r.t 10. May.  This is also my behaviour.  The problem is that for that day it should show "with limitations" in order to be consistent with the verifier's result.

[2022-05-10 14:42] oleksandrsarapulovgl commented on #190
In my video - it evaluates to valid if checking until 18 years, and to limited validity, after 18 years.

Proper behavior, if I understand properly.

Could you please clarify if you have latest version and you tried fresh install? @RalicaY

[2022-05-10 15:44] RalicaY commented on #167
Test unsuccessful:  origin device says "New tag detected" with empty screen and source device says "NFC enabled" on empty screen with rotating circle icon. Wallet App 1.3.2 (50)

[2022-05-10 15:53] #187 closed

[2022-05-10 15:56] ltranvan commented on #167
tvt, 10.05.22: same test result like from Ralica was observed with my both devices S21 FE and S10. Please check. Thank.

[2022-05-10 15:59] oleksandrsarapulovgl commented on #190
@RalicaY I published fresh build, could you please check it?

[2022-05-11 06:38] MykhailoNester commented on #167
@RalicaY it was fixed in 1.3.2-tst (51) not (50)

[2022-05-11 06:52] MykhailoNester commented on #167
@ltranvan you also tested on build 50 ? please check if it was 51 as on my side it works video above ^. Scan both devices back side to back side. Different devices have different chip position.

[2022-05-11 07:15] ltranvan commented on #167
No. i have tested it with 1.3.2 (51) on both side. But a new version 1.3.2 (52) is comming today and i will try it again and post its result here :-).

[2022-05-11 07:35] oleksandrsarapulovgl commented on #190
[PR](https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/193)

[2022-05-11 07:46] oleksandrsarapulovgl commented on #190
FIxed in:  1.3.2 (52)

[2022-05-11 08:23] ltranvan commented on #186
tvt, 11.05.2022: No Bug because there is no requirement about how the content should be structured and displayed.
But the raw-datas are displayed on the screen for the user.

[2022-05-11 08:23] #186 closed

[2022-05-11 09:33] ltranvan commented on #122
tvt, 11.05.2022: As agreed with the project mgmt, the priority will be reduced to low, since we have a workaround. The first transfer the certificate per NFC from Android-device to IOS-device and then use the import-function of IOS-Wallet-App to import the certificate. So the user get the certificate then in his IOS-WalleApp

[2022-05-11 10:06] MykhailoNester commented on #167
@RalicaY @ltranvan  can you scan Wallet with DCC and enabled NFC feature with `NFC Tools` app from google play market?

Below attached result from old android 4.0 Samsung device which was able to scan this NFC tag from Wallet and you can see Record 1 has text from QR code.  Can you check it was is the result on your side.

![20220511_120251 (1)](https://user-images.githubusercontent.com/9447674/16

[2022-05-11 10:21] MykhailoNester commented on #167
Latest build 52 contains all changes for NFC. Also works on my side.

[2022-05-12 14:40] MykhailoNester commented on #167
Also during test check this configuration of QR code:

<img width="447" alt="Screenshot 2022-05-12 at 17 39 54" src="https://user-images.githubusercontent.com/9447674/168101387-7102103c-263a-43fd-a857-761d21c0a657.png">
<img width="480" alt="Screenshot 2022-05-12 at 17 40 01" src="https://user-images.githubusercontent.com/9447674/168101399-0b81e9f5-4df9-4f7d-bd28-d7f99146463e.png">

[2022-05-13 06:45] MykhailoNester commented on #167
@RalicaY @ltranvan
Fixed payload size limit in build Version 1.3.2-tst (53). Please retest with QR code above.

[2022-05-13 10:55] ltranvan commented on #167
tvt, 13.05.22: Retested with Android-version 1.3.2-TST (53).
NFC-Transfer from Samsung S21 FE to Samsung S10 works as expected.

[2022-05-13 10:55] #167 closed

[2022-05-20 10:30] Hendrik-Schmidt-Schierhorn-TSI opened #196 "Wallet-app login dialog wrongly claim to biometric even when it is not."
## Description
The wallet-app is protected by login dialog. The dialog is depending on the device features protected by biometrics or another device unlock method. However it always wrongly claims to be a biometric login even on phone not supporting biometrics.

In class AuthFragment ;
val prompt = BiometricPrompt.PromptInfo.Builder()
.setTitle(getString(R.string.biometric_dialog_title))
.setSubti

[2022-05-20 10:33] Hendrik-Schmidt-Schierhorn-TSI opened #197 "Wallet-app uses ECB encryption scheme."
## Description
The wallet-app encrypts internal data, the qr code and tan using the keystore. The chosen encryption scheme in class SecurityKeyWrapper and DefaultKeyStoreCryptor is ECB.
ECB produces identical encrypted data and is thus not recommended for multi block data.
There is also no documentation of the security model this security features is modeled for so its not possible to say if the f